
.header-back {
    height: 90px;
    .header {
        position: fixed;
        width: 100%;
        // border: 1px solid black;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        box-shadow: 0px 2px 15px rgb(167, 159, 159);
        background-color: white;
        z-index: 10;

        img {
            width: 100px;
        }
        .navbar {
          
            display: flex;

            & > * {
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                &:hover {
                    .underline {
                        width: 100%;
                    }
                }


                & > * {
                    color: black;
                    font-size: 22px;
                   
                }
                .underline {
                    border-top: 3px solid black;
                    
                    transition: 0.8s;
                    width: 0px;
                  
                }

                & > *:hover {
                    color: rgb(83, 4, 4);
                  
                }
            }
        }

        .menu {
            display: flex;

            & > * {
                margin-right: 15px;
                font-size: 20px;
            }

            .menu-login-register {
                & > * {
                    background: none;
                    border: none;
                    cursor: pointer;
                    font-size: 15px;

                    &:hover {
                        color: rgb(3, 87, 14);
                        
                    }
                }
            }

            .menu-advanced {
               & > * {
                margin-right: 10px;
                cursor: pointer;
               

                &:hover {
                    color: aqua;
                }
               }
               .relative-basket {
                display: inline-block;
                position: relative;
                width: 20px;
                height: 20px;

                &> span {
                    position: absolute;
                    top: -20px;
                    right: -20px;
                    font-size: 30px;
                    font-weight: 900;
                color: red;
                }
            }
            }

            .menu-icon {
                font-weight: 900;
                font-size: 30px;
                display: none;
                &:hover {
                    color: rgb(73, 43, 3);
                    cursor: pointer;
                }
            }
        }


        @media screen and (max-width:1000px) {
            .navbar {
                display: none;
            }
            .menu {
                & > *:last-child {
                    display: block;
                }

                & > *:not(:last-child) {
                    display: none;
                }
            }
    }
}

.sidebar-back {

    position: fixed;
    background-color: rgba(202, 199, 195, 0.603);
    height: 100vh;
    width: 100%;
    z-index: 11;

    .sidebar {
        position: absolute;
        width: 300px;
        height: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        flex-direction: column;
        left: -300px;

        .sidebar-close-frame {
            margin-top: 20px;
            width: 90%;
            display: flex;
            justify-content: flex-end;

            .sidebar-close-button {

                font-size: 40px;

                &:hover {
                    color: rgb(121, 129, 6);
                    cursor: pointer;
                }
            }
        }


        .sidebar-advanced {

            & > * {
                font-size: 30px;
                margin: 20px;
                &:hover {
                    color: rgb(142, 151, 18);
                    cursor: pointer;
                }
            }
        }
      
        .sidebar-logo-frame {
            width: 80%;

            img {
                height: 40px;
            }
        }

        & > * {
            margin-bottom: 20px;
        }


        .sidebar-navbar {

            background-color: rgb(59, 58, 58);
            width: 80%;
            color: white;
            padding: 10px;

            .sidebar-navbar-header {
                width: 100%;
                display: flex;
                justify-content: flex-end;

                span {
                    background-color: black;
                    padding: 5px;
                    &:hover {
                        background-color: rgb(99, 96, 96);
                    }
                    
                }
            }

            .sidebar-navbar-content {
                // display: none;
                display: flex;
                flex-direction: column;

                & > * {
                    margin-bottom: 10px;
                    // padding: 5px;
                    border-radius: 10px;
                    font-size: 20px;
                    &:not(:nth-child(6)):hover {
                        background-color: rgb(53, 48, 48);
                    }
                }

                &>:nth-child(6){
                    & > * {
                        & > * {
                            margin-bottom: 10px;
                            margin-left: 20px;
                            // padding: 5px;
                            border-radius: 10px;
                            font-size: 20px;
                            &:hover {
                                background-color: rgb(53, 48, 48);
                            }
                        }
                    }
                }
            }
        }
    }

    .sidebar-show {
        transform: translateX(300px);
    transition: 500ms;
    }
    .sidebar-hide {
    
        transform: translateX(-300px);
        transition: 500ms;
        }
        .sidebar-left-0 {
        
            left: 0px;
        }
    
}
}