
.container {

    .section5-home {
        display: flex;
       
        flex-wrap: wrap;

        & > div {
            width: 50%;
            height: 500px;
        }
        .section5-home-image {
           
            border: 1px solid black;
            background-size: cover;
    
        }

        .section5-home-advanced {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(170, 169, 169, 0.699);
            font-size: 20px;

            & > * {

                margin: 30px;

                & > span {
                    font-size: 30px;
                    color: red;
                }
            }
        }

        @media screen and (max-width: 1000px) {

          
            & > div {
                width: 100%;
            }
        
        }

    }

 

  
}