


    .section2-home-frame {

        width: 1200px;
        margin: auto;

  .box {

    .tab-panel {
       
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0px;

      

       

    }
  }


  .section2-home-card {
    width: 250px;
    margin: 10px;
    background-size: cover;
    border: 3px solid rgb(104, 97, 3);
    padding: 0%;
    position: relative;
    overflow: hidden;

    .card-icon-box {
        position: absolute;
        bottom: -55px;
        left: 40px;
        width: 170px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        .fa-solid {
            border-radius: 50%;
            border: 3px solid black;
            padding: 5px;
            transition:400ms;
            &:hover {
                cursor: pointer;
                transform: rotate(360deg);
            }
        }

        .fa-heart {
            position: absolute;
            font-size: 35px;
            left: 20px;
        }
        .fa-cart-plus {
            position: absolute;
            font-size: 35px;
            right: 20px;
        }
    }

    &:not(:hover) {
                
        .fa-solid {

       animation-name: icon-default;
        animation-duration: 200ms;
        animation-fill-mode: both;
        }
       
        .fa-heart {
        

            animation-delay: 50ms;
        }

}
&:hover .card-icon-box{


    .fa-solid {

        animation-name: icon-move;
        animation-duration: 200ms;
        animation-fill-mode: both;
    }
   
    .fa-heart {
       animation-delay: 50ms;

    }
}

    
    
  }

  @keyframes icon-move {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: 80px;
    }   
}

@keyframes icon-default {

    0% {
        bottom: 80px;
    }
    100% {
        bottom: 0px;
    }  
}
  @media screen and (max-width:1200px) {

   & {
        width: 900px;
    }
    
  }

  @media screen and (max-width:900px) {

    & {
         width: 600px;
     }
     
   }

   @media screen and (max-width:600px) {

    & {
         width: 100%;

         .section2-home-card {
            width: 100%;
         }
     }
     
   }

}


