


    .section2-home-frame {

        width: 1200px;
        margin: auto;

  .box {

    .tab-panel {
       
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0px;

      

       

    }
  }


  .section2-home-card {
    width: 250px;
    margin: 10px;
    background-size: cover;
    border: 3px solid rgb(104, 97, 3);
    padding: 0%;
    position: relative;

    
    .card-hover {
      width: 100%;
      height: 100px;
      position: absolute;
      bottom: 0;

      // overflow: hidden;

      i {
          position: absolute;
          font-size: 30px;
          z-index: 9;
          
          &:nth-child(1){
              left: 80px;
          }
          &:nth-child(2){
              right: 80px;
          }
        
      }
  
      .move-up-icon {
          bottom: 10px;
          transition: 300ms;
      }
      .move-down-icon {
          bottom: -30px;
          transition: 300ms;
      }

    
  }
  .visible-position {
     display: block;
  }
  .hidden-position {
      display: none;
  }
  }
  @media screen and (max-width:1200px) {

   & {
        width: 900px;
    }
    
  }

  @media screen and (max-width:900px) {

    & {
         width: 600px;
     }
     
   }

   @media screen and (max-width:600px) {

    & {
         width: 100%;

         .section2-home-card {
            width: 100%;
         }
     }
     
   }

}


