.section1-home {

    display: grid;
    grid-template-areas:
        'first first second thirth'
        'first first fourth fives';
    gap: 10px;
    padding: 10px;
    height: 600px;

    &>* {
        border: 3px solid rgb(77, 2, 2);
        background-size: cover;

        &:nth-child(1) {
            grid-area: first;
            

        }

        &:nth-child(2) {
            grid-area: second;
           
        }

        &:nth-child(3) {
            grid-area: thirth;
        }

        &:nth-child(4) {
            grid-area: fourth;
            
        }

        &:nth-child(5) {
            grid-area: fives;
        }




    }

    @media screen and (max-width: 1000px) {

        & {
            grid-template-areas:
                'first first'
                'first first'
                'second thirth'
                'fourth fives';
                height: 1200px;
    
    
    
    
        }
}

@media screen and (max-width: 600px) {

    & {
        grid-template-areas:
            'first'
            'first'
            'second'
            'thirth'
            'fourth'
            'fives';

            height: 1800px;


    }
}


}